include ../../../node_modules/bemto.jade/bemto

+b.fourth-view#fourth-view: .wrapper
  +e.H2.title 
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    +e.title-accent Ipsa temporibus aspernatur
    | ,dolorum a sequi architecto
  +e.grid
    +e.tile
      +e.tile-icon-wrapper
        i.material-icons youtube_searched_for
      +e.H4.tile-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, consectetur.
      +e.tile-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugiat.
    +e.tile
      +e.tile-icon-wrapper
        i.material-icons cached
      +e.H4.tile-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      +e.tile-text Lorem ipsum dolor sit amet.
    +e.tile
      +e.tile-icon-wrapper
        i.material-icons event_seat
      +e.H4.tile-title Lorem ipsum dolor sit amet, consectetur.
      +e.tile-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quia cupiditate repudiandae natus iusto nobis quae facilis ipsa beatae sint? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugiat eum cupiditate eligendi error delectus aliquid numquam, nostrum. Quas, sunt?
    +e.tile
      +e.tile-icon-wrapper
        i.material-icons credit_card
      +e.H4.tile-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, consectetur. Lorem ipsum.
      +e.tile-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugiat eum cupiditate eligendi error delectus aliquid numquam, nostrum. Quas, sunt?
    +e.tile
      +e.tile-icon-wrapper
        i.material-icons youtube_searched_for
      +e.H4.tile-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, consectetur.
      +e.tile-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque fugiat.
    +e.tile
      +e.tile-icon-wrapper
        i.material-icons cached
      +e.H4.tile-title Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      +e.tile-text Lorem ipsum dolor sit amet.