.aside {
  @include position(fixed, 0 0 null null);
  @include padding(12px 10px 10px);
  height: 100%;
  width: 75px;
  z-index: 4;
  @include breakpoint(0 ($lg + 135px)) {
    display: none;
  }
  
  &__menu {
    background-color: $c-brand-1;
    
    &:hover {
      background-color: $c-brand-1;
    }
  }
  
  &__to-home {
    @include position(absolute, null 10px 12px null);
    background-color: $c-brand-3;
    
    &:hover {
      background-color: $c-brand-3;
    }
    
    > .material-icons {
      color: gray;
    }
  }
}
