include ../../../node_modules/bemto.jade/bemto

+b.aside
  +e(data-activates="slide-out").menu.btn-floating.btn-large.waves-effect.waves-light
    i.material-icons storage
  +e.to-home#toHome.btn-floating.btn-large.waves-effect.waves-light
    i.material-icons vertical_align_top