include ../../../node_modules/bemto.jade/bemto

+b.certifications#certifications: .wrapper
  +e.H2.title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa temporibus aspernatur, dolorum a sequi architecto
  +e.grid
    +e.text-wrapper.valign-wrapper
      +e.valign
        +e.H3.text-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, omnis.
        +e.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, nulla, ducimus. Eligendi veritatis in, adipisci, debitis accusamus minus perferendis consectetur?
    +e.pictures
      +e.picture: img(src="img/certificates/certificate-1.jpg" alt="")
      +e.picture: img(src="img/certificates/certificate-1.jpg" alt="")