include ../../../node_modules/bemto.jade/bemto

+b.UL.side-nav#slide-out
  +e.item: a(href="#first-view").waves-effect.waves-light Первый блок
  +e.item: a(href="#second-view").waves-effect.waves-light Второй блок
  +e.item: a(href="#third-view").waves-effect.waves-light Третий блок
  +e.item: a(href="#fourth-view").waves-effect.waves-light Четвертый блок
  +e.item: a(href="#fifth-view").waves-effect.waves-light Пятый блок
  +e.item: a(href="#certifications").waves-effect.waves-light Сертификаты
  +e.item: a(href="#contacts").waves-effect.waves-light Контакты